/*
 * Base layout styles
 */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-content {
  padding: 1rem;
  margin-top: 64px; /* Space for navbar */
  min-height: calc(100vh - 64px);
}

@media (min-width: 600px) {
  .main-content {
    padding: 2rem;
  }
}
